version: '{branch}-{build}'

skip_tags: true

configuration: Release
platform: Any CPU

shallow_clone: true

environment:
  COVERALLS_REPO_TOKEN:
    secure: 2iZcMi8Scy7Kg9H9x+VWEQ4CxERSTNUJGFM30kKqo4IY5zDIBN0UXu/J9JfV/pFK
 
before_build:
- cmd: nuget restore Transformerizer.sln

build:
  project: Transformerizer.sln
  verbosity: minimal

after_test:
- cmd: >-
    packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -filter:"+[Transformerizer]* -[Transformerizer]System.*" -target:"vstest.console.exe" -targetargs:"Transformerizer.Tests.Unit\bin\%configuration%\Transformerizer.Tests.Unit.dll" -output:coverage.xml
    
    packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover coverage.xml
